.form {
}

.form__title {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: $primary-color;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $secondary-color;

  &--expanded {
    margin-bottom: 20px;
  }
}

.form__label {
  margin-bottom: 4px;
}

.form__wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms $primary-cubic-bezier;

  &--large {
    height: 120px;
    padding: 12px 16px;
    resize: none;
  }

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .form__field:focus-within & {
    border-color: $accent-color;
  }
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms $primary-cubic-bezier;

  .form__field:focus-within & {
    fill: $accent-color;
  }
}

.form__policy {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__contract {
  text-align: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $secondary-color;
}

.form__link {
  color: $accent-color;
  display: inline-flex;
  line-height: 0.85;
  border-bottom: 1px solid currentColor;
}

.form__checkbox-icon {
  margin-right: 7px;

  transition: opacity 250ms $primary-cubic-bezier;
  cursor: pointer;

  &--positioned {
    position: absolute;
    left: 0;

    opacity: 0;

    .form__checkbox:checked ~ & {
      opacity: 1;
    }
  }
}

.form__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 52px;
}
