.backdrop {
  padding: 93px 15px 0;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: $backdrop-background-color;
  overflow-y: scroll;
  transition: opacity 250ms $primary-cubic-bezier;
}

.modal {
  position: relative;
  padding: 40px;
  width: 100%;

  box-shadow: $modal-shadow;
  border-radius: 4px;
  background-color: $tertiary-color;

  transition: transform 250ms $primary-cubic-bezier, visibility 250ms $primary-cubic-bezier;

  .is-hidden & {
    transform: scale(0.75);

    @media screen and (min-width: $mobile) {
      transform: translate(-50%, 0) scale(0.75);
    }
    @media screen and (min-width: $desktop) {
      transform: translate(-50%, -50%) scale(0.75);
    }
  }

  @media screen and (min-width: $mobile) {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0) scale(1);

    max-width: 450px;
  }

  @media screen and (min-width: $tablet) {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }
}

.modal__btn {
  @include flex;

  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  color: $primary-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;

  transition: fill 250ms $primary-cubic-bezier;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.modal__icon-cross {
  fill: currentColor;
}
