.footer {
  padding: 60px 0;
  background-color: $primary-background-color;

  text-align: center;

  @media screen and (min-width: 1600px) {
    text-align: start;
  }
}

.footer__container {
  @media screen and (min-width: 768px) {
    @include flex($ai: baseline);
    flex-wrap: wrap;
  }
}

.footer__wrap {
  &:not(:last-child) {
    margin-bottom: 60px;

    @media screen and (min-width: 1600px) {
      margin-bottom: 0;
    }
  }

  &:nth-child(3) {
    @media screen and (min-width: 768px) {
      flex-grow: 1;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1599px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1600px) {
    &:nth-child(1) {
      margin-right: 70px;
    }
    &:nth-child(2) {
      margin-right: 95px;
    }
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__address {
  @media screen and (min-width: 1600px) {
    width: 231px;
  }
}

.footer__call {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $tertiary-color;
}
