.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100vw;

  border-bottom: 1px solid #ececec;
  background-color: $tertiary-color;
}

.header__container {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.header__contacts {
  display: none;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    display: flex;
  }

  @media screen and (min-width: $tablet) and (max-width: ($desktop - 1)) {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 10px;
  }
}

.header__contact {
  @media screen and (min-width: $desktop) {
    margin-right: 50px;
  }
}

.header__icon {
  @media screen and (min-width: $tablet) {
    margin-right: 10px;
    fill: currentColor;
  }
}
