.header {
  border-bottom: 1px solid #ececec;
  background-color: $tertiary-color;
}

.header__container {
  /*  display: flex; */
}

.header__contacts {
  display: none;

  /*   display: flex;
  margin-left: auto; */
}

.header__contact {
  /*   margin-right: 50px; */
}

.header__icon {
  /* margin-right: 10px;
  fill: currentColor; */
}
