.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  padding: 16px 0;

  @media screen and (min-width: $tablet) {
    padding: 25px 0;
    margin-right: 88px;
  }
}

.nav__list {
  display: none;

  @media screen and (min-width: $tablet) {
    display: flex;
    height: 100%;
  }
}

.nav__item {
  @media screen and (min-width: $tablet) {
    display: flex;
    position: relative;

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}
