.section {
  padding: 60px 0;

  @media screen and (min-width: 1600px) {
    padding: 94px 0;
  }

  &--light {
    background-color: $tertiary-color;
  }

  &--dark {
    background-color: $secondary-background-color;
  }
}
