.title {
  margin-bottom: 30px;

  font-size: 28px;
  line-height: (33 / 28);
  font-weight: 700;
  text-align: center;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
  }
}
