@mixin flex($display: flex, $fd: row, $jc: center, $ai: center) {
  display: $display;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin retina {
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    @content;
  }
}
