.card-set {
  display: flex;
  flex-wrap: wrap;

  margin: -15px;
}

.card-set__item {
  $items-amount: 1;
  flex-basis: calc((100% - $gap-size * $items-amount) / $items-amount);
  padding-bottom: 30px;
  margin: 15px;

  background: $tertiary-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: $card-set-shadow;

  @media screen and (min-width: 768px) {
    $items-amount: 2;
    flex-basis: calc((100% - $gap-size * $items-amount) / $items-amount);
  }

  @media screen and (min-width: 1200px) {
    $items-amount: 4;
    flex-basis: calc((100% - $gap-size * $items-amount) / $items-amount);
  }
}

.card-set__img {
  margin-bottom: 30px;
}

.card-set__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.card-set__subtitle {
  margin-bottom: 16px;

  font-weight: 400;
  line-height: 1.19;
  text-align: center;
  color: $secondary-color;
}
