.clients {
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-size;
}

.clients__item {
  $items-amount: 2;
  flex-basis: calc((100% - ($items-amount - 1) * $gap-size) / $items-amount);

  @media screen and (min-width: $tablet) {
    $items-amount: 3;
    flex-basis: calc((100% - ($items-amount - 1) * $gap-size) / $items-amount);
  }

  @media screen and (min-width: $desktop) {
    $items-amount: 6;
    flex-basis: calc((100% - ($items-amount - 1) * $gap-size) / $items-amount);
  }
}

.clients__link {
  padding: 15px 0;

  color: $fill-color;
  border: 1px solid currentColor;
  border-radius: 4px;
}

.clients__icon {
  fill: currentColor;
}
