.hero {
  max-width: 480px;

  margin: 0 auto;
  padding: 118px 60px;

  text-align: center;

  background-color: $primary-background-color;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  line-height: (42 / 26);
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: $tertiary-color;
}

.hero__btn {
  padding: 10px 24px;
}
